.angel-di-maria {
  min-height: 75vh;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .meta-views {
    text-align: center;
  }

  canvas {
    background-color: transparent;
    border: 1px solid var(--royal-gold);
    border-radius: 2px;
    margin-bottom: 2rem;
    max-width: 100%;
    box-shadow: 0px 0px 35px hsl(40deg 100% 76% / 18%);

    transform: translate3d(0, 0, 0);
    perspective: 1000px;

    transition: background-color .2s ease-in-out, transform .2s ease-in-out, box-shadow .2s ease-in-out;

    &.paused {
      background-color: var(--royal-gold-light);
    }

    &.rip {
      background-color: var(--royal-gold);

      -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
              animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      cursor: pointer;

      &:hover {
      box-shadow: 0px 0px 35px hsl(40deg 100% 76% / 18%),
                  inset 0px 0px 35px hsl(40deg 100% 76% / 100%);
      }
    }

    &.chomp {
      -webkit-animation: shake_quarter 0.35s cubic-bezier(.36,.07,.19,.97) both;
              animation: shake_quarter 0.35s cubic-bezier(.36,.07,.19,.97) both;
    }

    &.burp {
      -webkit-animation: shake_half 0.82s cubic-bezier(.36,.07,.19,.97) both;
              animation: shake_half 0.82s cubic-bezier(.36,.07,.19,.97) both;
      background-color: hsl(106deg 100% 90% / 18%);
    }
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake_half {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake_half {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@-webkit-keyframes shake_quarter {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes shake_quarter {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}
